body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.box .block {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    text-align: center;
    margin: 0;
    left: 25%;
    right: 25%;
    bottom: 10px;
    position: absolute;
}

.footer p {
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 160%;
    line-height: 155%;
    font-family: monospace;
}